*/*/__pycache__
*/*/.idea
Reseaux_de_neurones/WorkDirectory-RDN/Deep_Full-connected.py
/Reseaux_de_neurones/WorkDirectory-RDN/ressources/Wang
/Apprentissage_par_renforcement/WorkDirectory-RL/*/__pycache__
Apprentissage_par_renforcement/Formulaire de réponse Projet RL - ML.pdf
Apprentissage_par_renforcement/Projet-RL_ML.pdf
Reseaux_de_neurones/Formulaire de réponse Projet RDN - ML.pdf
Reseaux_de_neurones/projet-RDN_ML.pdf
Systeme_Expert/Formulaire de réponse Projet SE - ML.pdf
Systeme_Expert/Projet-SE_ML.pdf
